{% extends "general/layout.html" %}

{% block page_content %}
<h2>Event Calendar 📅​</h2>
<div id='calendar' style="background: white; padding: 20px; border-radius: 10px; color: black;"></div>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek'
      },
      events: [
        // Loop to complete fill the calendar with the events
        {% for event in events %}
        {
          title: "{{ event.title|escapejs }}",
          start: "{{ event.start_datetime|date:'Y-m-d H:i:s' }}",
          url: "{% url 'event_detail' event.pk %}", // If you click, it takes you to the detail
          color: '#0da1fdff' // Change the color
        },
        {% endfor %}
      ]
    });
    calendar.render();
  });
</script>
{% endblock %}